<footer class="container-fluid" role="contentinfo">
  <div class="row">
    <div class="col-md-3">{{ page.footer_first }}</div>
    <div class="col-md-6">{{ page.footer_menu }}</div>
    <div class="col-md-3">{{ page.footer_logo }}{{ page.social }}</div>
    <div class="col-md-12">{{ page.copyright }}</div>
  </div>
</footer>
