<header id="header" class="header fixed-top" role="banner" aria-label="{{ 'Site header'|t}}">
  {% block head %}
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('<front>') }}"><img src="/themes/custom/level/logo.svg" alt="{{ 'Home'|t }}" /></a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span> </span>
        <span> </span>
        <span> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {{ page.primary_menu }}
        </div>
      </nav>
      {{ page.search }}
    </div></header>
  {% endblock %}
</header>
